body{
    margin-top: 0;
    margin-left: 0;
    margin: 0;
    background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(http://bit.ly/2gPLxZ4);
 width: 100%;
 height: 100%;
 font-family: Arial, Helvetica;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}
.main{
    height: 64px;
}

.top{
    width: 100%;
    background-color: rgb(205, 206, 206);
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
}
.logo{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.l{
    width: 40%;

}
.n{
    padding-top: 12px;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    color: maroon;
    font-weight: bolf;
    font-size: 30px;
}

.logo img{
    width: 64px;
    height: 64px;
    
}
.menu{
    width: 70%;
    text-align: center;
    margin-top: 20px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: maroon;
}
.menu a{
    margin-left: 15%;
    
    text-decoration: none;
}

a:visited{
    color: maroon;
}

.title{
    margin-left: 10%;
    width: 80%;
    height: 600px;
    background: url(../img/freelance-informatique-télétravail.jpg);
    background-repeat: round;
    
}

.text{
    
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10%;
    color: white;
    font-family: 'Roboto', sans-serif;
text-shadow: 3px 5px 2px #474747;
text-align: center;
}

.since{
    width: 80%;
    margin-left: 10%;
    background: grey;
    opacity: 0.8;
}

.from{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    
}

.team{
    /* margin-top: 50px; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.team h2{
    margin-top: 0;
    padding-top: 20px;
}
.content{
    margin-top: 50px;
    width: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}



.content h3{
    /* margin-left: 15px; */
    text-align: center;
    margin-bottom: 10px;
}
.content img{
    width: 70px;
    height: 80px;
    opacity: 0.99;
}

.content p {
    font-size: 14px;
    width: 70%;
    margin-left: 15%;
    font-weight: normal;
    margin-top: 0px;
}

.list{
    width: 80%;
    margin-left: 10%;
    background: yellow;
    opacity: 0.5;
    /* padding-left: 10%; */
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    /* display: flex;
    place-items: center; */
    /* justify-content: center;
    align-items: center; */
}

.list ul{
    margin-left: 300px;
    text-align: left;
     place-items: center;
    text-decoration: none;
}

.plan{
    width: 80%;
    margin-left: 10%;
    background: blue;
    opacity: 0.8;    
}

.plan h3{
    margin-left: 320px;
    opacity: 1;
    color: white;
    font-family: 'MiLanProVF';
    font-weight: 900;
    letter-spacing: 2px;

}
.plan p{
    margin-left: 320px;
    opacity: 1;
    color: white;
    font-family: 'MiLanProVF'; 
    font-weight: 700;
}

.plan h3:first-child{
margin-top: 0;
padding-top: 150px;
}

.plan p:last-child{
    padding-bottom: 50px;
    margin-bottom: 0;
}

.dummy{
    background: grey;
    opacity: 0.8;
    width: 80%;
    margin-left: 10%;
    text-shadow: 0px 1px 0px  midnightblue;
}

.head{
    opacity: 1;
font-family: 'MiLanProVF';
font-size: 32px;
text-align: center;
padding-top: 50px;
color: black;
}

.littleHead{
    opacity: 1;
    font-family: 'MiLanProVF';
    font-size: 22px;
    text-align: center;
    padding-top: 30px;
    color: black;
}
.sometext{
    opacity: 1;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    color: black;
    padding-left: 25%;
    padding-right: 25%;
}